

body {
    font-family: 'Roboto', sans-serif;
    display : grid;
    grid-template-columns: 200px 1fr; 
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 3fr 1fr;
    gap: 100px;
}

.sidebar div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, 1fr);
}

.sidebar div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr);
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}

.main header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.main header div:nth-child(1){
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.main header div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
}

.features{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-end: span 2;
}

.projects div:nth-child(1){
    grid-column-end: span 2;
}

.Announcements{
    display: grid;
    grid-template-columns: 1fr
}

.trending{
    display: grid;
    grid-template-columns: 1fr
}